@charset "UTF-8";
.cont_workspace_container {
  overflow: auto;
  margin: 0;
  padding: 0;
  position: relative; }

.cont_comment_view {
  overflow: auto;
  margin: 10px 0 0 0;
  padding: 10px;
  position: relative;
  height: 200px;
  width: 100%;
  background: #f9f9f9;
  font-size: x-small;
  font-weight: normal;
  border: 1px solid #ddd;
  border-radius: 5px; }
  .cont_comment_view h1 {
    font-weight: bold;
    font-size: medium; }
  .cont_comment_view h2 {
    font-weight: bold;
    font-size: small; }
  .cont_comment_view h3,
  .cont_comment_view h4,
  .cont_comment_view h5,
  .cont_comment_view h6 {
    font-weight: bold;
    font-size: x-small; }

.cont_page_info {
  border: 1px solid #000;
  padding: 10px;
  margin: 0 5px 10px 5px;
  background: #f9f9f9;
  min-height: 2em; }

.cont_page_info-prop {
  float: left; }

.cont_page_info-btn {
  float: right; }

/**
 * サイトマップの編集者コメント欄
 */
.cont_page_info-editor_comment {
  border: 1px solid #999;
  border-radius: 3px;
  margin: 3px 0;
  clear: both;
  padding: 3px 1em;
  font-size: small;
  overflow: auto;
  max-height: 5em;
  width: 100%; }
  .cont_page_info-editor_comment dl,
  .cont_page_info-editor_comment ul,
  .cont_page_info-editor_comment ol,
  .cont_page_info-editor_comment p {
    margin: 0.3em 0; }

/**
 * パンくず
 */
.cont_breadcrumb ul {
  margin: 0;
  padding: 0;
  font-size: small; }
  .cont_breadcrumb ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline; }
    .cont_breadcrumb ul li:after {
      content: ">";
      margin: 0 0.3em; }
    .cont_breadcrumb ul li:last-child:after {
      content: ""; }

/**
 * サイトマップ・フィルタ
 */
.cont_workspace_filter {
  padding: 12px 0 0 0; }
  .cont_workspace_filter input {
    width: 100%; }
  .cont_workspace_filter label {
    overflow: hidden; }

.cont_workspace_container ul.listview {
  margin: 0; }
  .cont_workspace_container ul.listview .glyphicon {
    margin-right: 10px; }
  .cont_workspace_container ul.listview .glyphicon-level-up {
    color: #bbaa66; }

.cont_workspace_container .cont_sitemap_broslist {
  overflow: auto; }

.cont_workspace_container .cont_sitemap_search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff; }
