@charset "UTF-8";
body {
  /* http://www.softel.co.jp/blogs/tech/archives/2909 */
  user-select: none;
  /* CSS3 */
  -moz-user-select: none;
  /* Firefox */
  -webkit-user-select: none;
  /* Safari、Chromeなど */
  -ms-user-select: none;
  /* IE10かららしい */ }

* {
  outline: none; }

.theme-header {
  background-color: #fff;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 10px;
  z-index: 100;
  border-bottom: 3px solid #00a0e6;
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.1);
  color: #666;
  line-height: 1;
  box-sizing: border-box;
  border-bottom-color: #00a0e6;
  color: #00a0e6; }
  .theme-header__inner {
    padding: 0px 0px 0px 60px; }
  .theme-header a {
    color: #333;
    text-decoration: underline; }
    .theme-header a:hover {
      color: #000;
      text-decoration: none; }
  .theme-header__shoulder-menu {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    overflow: hidden; }
    .theme-header__shoulder-menu button {
      background: #f9f9f9;
      border: none;
      border-radius: 0;
      border-left: 1px solid #00a0e6;
      position: absolute;
      top: 0;
      right: 0;
      height: 30px;
      width: 30px;
      box-sizing: border-box; }
    .theme-header__shoulder-menu ul {
      position: absolute;
      top: 30px;
      right: 0;
      display: none;
      margin: 0;
      padding: 0;
      list-style-type: none;
      background-color: #333;
      border: 1px solid #aaa;
      overflow: auto;
      width: 280px;
      max-width: 100%;
      opacity: 0.95; }
      .theme-header__shoulder-menu ul li {
        margin: 0 0 1px 0;
        border-bottom: 1px solid #555;
        font-size: 13px; }
        .theme-header__shoulder-menu ul li:last-child {
          border: none; }
        .theme-header__shoulder-menu ul li a {
          display: block;
          font-weight: normal;
          padding: 0.8em 2em;
          color: #eee;
          background-color: #333;
          text-decoration: none; }
          .theme-header__shoulder-menu ul li a:hover {
            background-color: #444;
            color: #fff; }
          .theme-header__shoulder-menu ul li a.current {
            font-weight: bold;
            background-color: #00a0e6;
            color: #fff; }
  .theme-header__px2logo {
    transition: width 0.3s ease-out 0s , height 0.3s ease-out 0s;
    position: fixed;
    left: 10px;
    top: 0px;
    z-index: 1000;
    width: 45px;
    height: 45px;
    padding: 6px;
    box-sizing: border-box;
    background-color: #fff; }
    .theme-header__px2logo a {
      display: inline-block;
      width: 100%;
      height: 100%; }
    .theme-header__px2logo img, .theme-header__px2logo svg {
      width: 100%;
      height: 100%; }
  .theme-header__id {
    width: auto;
    margin: 0;
    padding: 10px 0 0 0;
    float: left;
    font-size: 13px;
    transition: opacity 0.5s ease 0;
    opacity: 1; }
    .theme-header__id * {
      margin: 0 0.5em;
      display: inline-block;
      text-shadow: none;
      font-weight: normal; }
  .theme-header__gmenu {
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 35px;
    margin-bottom: -3px;
    line-height: 1; }
    .theme-header__gmenu ul {
      display: block;
      margin: 0;
      padding: 0; }
      .theme-header__gmenu ul li {
        display: inline-block;
        margin: 0 1px 0 1px;
        padding: 0;
        list-style-type: none;
        font-size: 13px; }
        .theme-header__gmenu ul li a, .theme-header__gmenu ul li span {
          display: block;
          margin: 0;
          padding: 12px 2em 5px;
          color: #666;
          border: none;
          font-weight: normal;
          text-decoration: none;
          border-bottom: 3px solid transparent; }
          .theme-header__gmenu ul li a:hover, .theme-header__gmenu ul li span:hover {
            color: #00a0e6; }
          .theme-header__gmenu ul li a.current, .theme-header__gmenu ul li span.current {
            font-weight: bold;
            border-bottom-color: rgba(255, 255, 255, 0.85);
            color: #00a0e6; }
        .theme-header__gmenu ul li span {
          padding-left: 0;
          padding-right: 0; }

/**
 * px.message()
 */
.theme_ui_px_message {
  position: fixed;
  top: 120px;
  left: 15%;
  right: 15%;
  height: auto;
  width: auto;
  z-index: 20000; }

@media all and (max-width: 820px) {
  .theme_ui_px_message {
    left: 5%;
    right: 5%; } }

/**
 * px.watcher
 */
.theme_ui_px_live_report {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10000;
  padding: 3px 10px;
  background-color: #eee;
  font-size: 11px;
  pointer-events: none;
  transition: transform 0.5s ease-out 0.2s, opacity 0.5s ease-out 0.2s; }
  .theme_ui_px_live_report--hidden {
    transform: translateY(20px);
    opacity: 0; }

.contents {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 150px;
  overflow: auto;
  z-index: 50; }
  .contents iframe {
    width: 100%;
    max-height: 100%;
    border: none;
    margin: 0;
    padding: 0; }

.cont_top_jumbotron {
  background-color: #f6f6f6;
  background-image: url("./images/main.png");
  background-position: center center;
  background-size: cover;
  color: #00a0e6;
  padding: 3em 0.5em; }

.cont_top_footer {
  text-align: center;
  padding: 5px;
  border-top: 1px solid #999;
  background-color: #f6f6f6;
  color: #666; }
  .cont_top_footer a {
    color: #333;
    text-decoration: underline; }

.theme-command-terminal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  height: 100%;
  width: 100%;
  display: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5); }
  .theme-command-terminal__main {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: -70%;
    left: 0;
    height: 70%;
    width: 100%;
    overflow: hidden;
    transition: bottom 0.3s ease-out 0s;
    background-color: #fefefe; }
  .theme-command-terminal__title-bar {
    padding: 4px 1em;
    border-top: 1px solid #f0f0f0; }
  .theme-command-terminal__cQ {
    position: relative;
    flex-grow: 1;
    width: 100%; }
